## Now let us look at anomaly detection. The following is adapted from the Kaggle notebook:
## https://www.kaggle.com/victorambonati/unsupervised-anomaly-detection/notebook

In [ ]:
from sklearn import preprocessing
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
from sklearn.covariance import EllipticEnvelope
#from pyemma import msm # not available on Kaggle Kernel
from sklearn.ensemble import IsolationForest
from sklearn.svm import OneClassSVM

In [ ]:
# return Series of distance between each point and his distance with the closest centroid
def getDistanceByPoint(data, model):
    distance = pd.Series()
    for i in range(0,len(data)):
        Xa = np.array(data.loc[i])
        Xb = model.cluster_centers_[model.labels_[i]-1]
        distance.set_value(i, np.linalg.norm(Xa-Xb))
    return distance

# train markov model to get transition matrix
def getTransitionMatrix (df):
	df = np.array(df)
	model = msm.estimate_markov_model(df, 1)
	return model.transition_matrix

def markovAnomaly(df, windows_size, threshold):
    transition_matrix = getTransitionMatrix(df)
    real_threshold = threshold**windows_size
    df_anomaly = []
    for j in range(0, len(df)):
        if (j < windows_size):
            df_anomaly.append(0)
        else:
            sequence = df[j-windows_size:j]
            sequence = sequence.reset_index(drop=True)
            df_anomaly.append(anomalyElement(sequence, real_threshold, transition_matrix))
    return df_anomaly

In [ ]:
# the hours and if it's night or day (7:00-22:00)
rentals_df['hours'] = rentals_df['Starttime_dt'].dt.hour
rentals_df['daylight'] = ((rentals_df['hours'] >= 7) & (rentals_df['hours'] <= 22)).astype(int)

In [ ]:
# the day of the week (Monday=0, Sunday=6) and if it's a week end day or week day.
rentals_df['DayOfTheWeek'] = rentals_df['Starttime_dt'].dt.dayofweek
rentals_df['WeekDay'] = (rentals_df['DayOfTheWeek'] < 5).astype(int)
# An estimation of anomly population of the dataset (necessary for several algorithm)
outliers_fraction = 0.01

In [ ]:
# creation of 4 distinct categories that seem useful (week end/day week & night/day)
rentals_df['Starttime_cat'] = rentals_df['WeekDay']*2 + rentals_df['daylight']

a = rentals_df.loc[rentals_df['Starttime_cat'] == 0, 'Tripduration_mins']
b = rentals_df.loc[rentals_df['Starttime_cat'] == 1, 'Tripduration_mins']
c = rentals_df.loc[rentals_df['Starttime_cat'] == 2, 'Tripduration_mins']
d = rentals_df.loc[rentals_df['Starttime_cat'] == 3, 'Tripduration_mins']

fig, ax = plt.subplots(figsize=(15,8))
a_heights, a_bins = np.histogram(a)
b_heights, b_bins = np.histogram(b, bins=a_bins)
c_heights, c_bins = np.histogram(c, bins=a_bins)
d_heights, d_bins = np.histogram(d, bins=a_bins)

width = (a_bins[1] - a_bins[0])/6

ax.bar(a_bins[:-1], a_heights*100/a.count(), width=width, facecolor='blue', label='WeekEnd Night')
ax.bar(b_bins[:-1]+width, (b_heights*100/b.count()), width=width, facecolor='green', label ='WeekEndDayLight')
ax.bar(c_bins[:-1]+width*2, (c_heights*100/c.count()), width=width, facecolor='red', label ='WeekDay Night')
ax.bar(d_bins[:-1]+width*3, (d_heights*100/d.count()), width=width, facecolor='black', label ='WeekDay DayLight')

ax.set_xlabel('Trip Duration in minutes')
plt.legend()
plt.show()

In [ ]:
### Now we have to be careful in choice of outlier detector. What is the nature of our data? It is partly 
### unordered (Bike IDs, Trip IDs, Stations) and partly ordered (timestamps of start and stop of trips)

In [ ]:
### Let us start with simple clustering

In [ ]:
rentals_df['Starttime_num']=mdates.date2num(rentals_df['Starttime_dt'].astype(datetime))
rentals_df['Stoptime_num']=mdates.date2num(rentals_df['Stoptime_dt'].astype(datetime))

In [ ]:
# pull out data for PCA analysis
data = rentals_df[['Tripduration', 'Starttime_num', 'Stoptime_num', 'From station id', 'To station id', \
                   'hours', 'daylight', 'DayOfTheWeek', 'WeekDay']]
min_max_scaler = preprocessing.StandardScaler()
np_scaled = min_max_scaler.fit_transform(data)
data = pd.DataFrame(np_scaled)
# reduce to 2 importants features
pca = PCA(n_components=2)
data = pca.fit_transform(data)
# standardize these 2 new features
min_max_scaler = preprocessing.StandardScaler()
np_scaled = min_max_scaler.fit_transform(data)
data = pd.DataFrame(np_scaled)

In [ ]:
# calculate with different number of centroids to see the loss plot (elbow method)
n_cluster = range(1, 20)
kmeans = [KMeans(n_clusters=i).fit(data) for i in n_cluster]
scores = [kmeans[i].score(data) for i in range(len(kmeans))]
fig, ax = plt.subplots()
ax.plot(n_cluster, scores)
plt.show()

In [ ]:
# choose 15 centroids arbitrarily and add these data to the central dataframe
rentals_df['cluster'] = kmeans[14].predict(data)
rentals_df['principal_feature1'] = data[0]
rentals_df['principal_feature2'] = data[1]
rentals_df['cluster'].value_counts()

In [ ]:
#plot the different clusters with the 2 main features
fig, ax = plt.subplots()
colors = {0:'red', 1:'blue', 2:'green', 3:'pink', 4:'black', 5:'orange', 6:'cyan', 7:'yellow', 8:'brown', \
          9:'purple', 10:'white', 11: 'grey', 12:'lightblue', 13:'lightgreen', 14: 'darkgrey'}
ax.scatter(rentals_df['principal_feature1'], rentals_df['principal_feature2'], 
           c=rentals_df["cluster"].apply(lambda x: colors[x]))
plt.show()

In [ ]:
# lets zoom in separately to see clearer
fig, ax = plt.subplots(1,2,figsize=(15,8))
colors = {0:'red', 1:'blue', 2:'green', 3:'pink', 4:'black', 5:'orange', 6:'cyan', 7:'yellow', 8:'brown', \
          9:'purple', 10:'white', 11: 'grey', 12:'lightblue', 13:'lightgreen', 14: 'darkgrey'}
ax[0].scatter(rentals_df['principal_feature1'], rentals_df['principal_feature2'], 
           c=rentals_df["cluster"].apply(lambda x: colors[x]))
ax[0].set_xlim(-2,4.1)
ax[0].set_ylim(-2,5)
ax[0].set_title('PCA Analysis (Lower quadrant)')
ax[1].scatter(rentals_df['principal_feature1'], rentals_df['principal_feature2'], 
           c=rentals_df["cluster"].apply(lambda x: colors[x]))
ax[1].set_xlim(40,55)
ax[1].set_ylim(50,65)
ax[1].set_title('PCA Analysis (Upper quadrant)')
plt.show()

In [ ]:
# get the distance between each point and its nearest centroid. 
# The biggest distances are considered as anomalies
distance = getDistanceByPoint(data, kmeans[14])
number_of_outliers = int(outliers_fraction*len(distance))
threshold = distance.nlargest(number_of_outliers).min()
rentals_df['anomaly21'] = (distance >= threshold).astype(int)

In [ ]:
# visualisation of anomaly with cluster view
fig, ax = plt.subplots()
colors = {0:'blue', 1:'red'}
ax.scatter(rentals_df['principal_feature1'], rentals_df['principal_feature2'], \
           c=rentals_df["anomaly21"].apply(lambda x: colors[x]))
ax.set_title('Outlier PCA Analysis')
plt.show()

In [ ]:
anomalous_rides=rentals_df[rentals_df['anomaly21']==1]

In [ ]:
# repeat visualization with zooms, as before
fig, ax = plt.subplots(1,2,figsize=(15,8))
colors = {0:'blue', 1:'red'}
ax[0].scatter(rentals_df['principal_feature1'], rentals_df['principal_feature2'], 
           c=rentals_df["anomaly21"].apply(lambda x: colors[x]))
ax[0].set_xlim(-2,4.1)
ax[0].set_ylim(-2,5)
ax[0].set_title('Outlier PCA Analysis (Lower quadrant)')
ax[1].scatter(rentals_df['principal_feature1'], rentals_df['principal_feature2'], 
           c=rentals_df["anomaly21"].apply(lambda x: colors[x]))
ax[1].set_xlim(40,55)
ax[1].set_ylim(50,65)
ax[1].annotate(anomalous_rides['Trip id'],xy=(anomalous_rides['principal_feature1'],anomalous_rides['principal_feature2']))
ax[1].set_title('Outlier PCA Analysis (Upper quadrant)')

plt.show()

In [ ]:
anomalous_rides.head()

In [ ]:
# Now lets try an isolation-forest algorithm, from Scikit-Learn
from sklearn.ensemble import IsolationForest

In [ ]:
rng = np.random.RandomState(42)

In [ ]:
# pull out data for Isolation Forests analysis
data = rentals_df[['Tripduration', 'Starttime_num', 'Stoptime_num', 'From station id', 'To station id', \
                   'hours', 'daylight', 'DayOfTheWeek', 'WeekDay']]
min_max_scaler = preprocessing.StandardScaler()
np_scaled = min_max_scaler.fit_transform(data)
data = pd.DataFrame(np_scaled)

In [ ]:
# fit the model
clf = IsolationForest(contamination = outliers_fraction)
clf.fit(data)
rentals_df['anomaly_if'] = pd.Series(clf.predict(data))
rentals_df['anomaly_if'] = rentals_df['anomaly_if'].map( {1: 0, -1: 1} )
print(rentals_df['anomaly_if'].value_counts())

In [ ]:
bikeid_min=rentals_df['Bikeid'].min()
bikeid_max=rentals_df['Bikeid'].max()
tripid_min=rentals_df['Trip id'].min()
tripid_max=rentals_df['Trip id'].max()
fromstationid_min=rentals_df['From station id'].min()
fromstationid_max=rentals_df['From station id'].max()
tostationid_min=rentals_df['To station id'].min()
tostationid_max=rentals_df['To station id'].max()

In [ ]:
print('Bike ID={}:{} | Trip ID={}:{} | From ID={}:{} | To ID={}:{}'.format(bikeid_min,bikeid_max,\
                                    tripid_min,tripid_max,fromstationid_min, fromstationid_max,\
                                    tostationid_min, tostationid_max))

In [ ]:
# plot the line, the samples, and the nearest vectors to the plane
#xx, yy = np.meshgrid(np.linspace(fromstationid_min, fromstationid_max, 50), \
#                     np.linspace(tostationid_min, tostationid_max, 50))
rand_smpl_xx = [ rentals_df['From station id'][i] for i in \
                sorted(np.random.choice(rentals_df['From station id'], size=50, replace=False)) ]
rand_smpl_yy = [ rentals_df['To station id'][i] for i in \
                sorted(np.random.choice(rentals_df['To station id'], size=50, replace=False)) ]
xx, yy = np.meshgrid(rand_smpl_xx, rand_smpl_yy)
xxyy_combo = np.c_[xx.ravel(), yy.ravel()]
Z = clf.decision_function(xxyy_combo)
Z = Z.reshape(xx.shape)

plt.title("Isolation Forest")
plt.contourf(xx, yy, Z, cmap=plt.cm.Blues_r)

a1 = rentals_df.loc[rentals_df['anomaly_if'] == 0, ['From station id', 'To station id']] # normal
a2 = rentals_df.loc[rentals_df['anomaly_if'] == 1, ['From station id', 'To station id']] #anomaly

b1 = plt.scatter(a1['From station id'], a1['To station id'], c='green', s=20, edgecolor='k')
b2 = plt.scatter(a2['From station id'], a2['To station id'], c='red', s=20, edgecolor='k')
plt.axis('tight')
plt.xlim((fromstationid_min, fromstationid_max))
plt.ylim((tostationid_min, tostationid_max))
plt.legend([b1, b2],
           ["regular data",
            "anomalies"],
           loc="upper left")
plt.show()

In [ ]:
rng = np.random.RandomState(42)

# Generate train data
X = 0.3 * rng.randn(100, 2)
X_train = np.r_[X + 2, X - 2]
# Generate some regular novel observations
X = 0.3 * rng.randn(20, 2)
X_test = np.r_[X + 2, X - 2]
# Generate some abnormal novel observations
X_outliers = rng.uniform(low=-4, high=4, size=(20, 2))

# fit the model
clf = IsolationForest(max_samples=100, random_state=rng)
clf.fit(X_train)
y_pred_train = clf.predict(X_train)
y_pred_test = clf.predict(X_test)
y_pred_outliers = clf.predict(X_outliers)

# plot the line, the samples, and the nearest vectors to the plane
xx, yy = np.meshgrid(np.linspace(-5, 5, 50), np.linspace(-5, 5, 50))
xxyy_combo=np.c_[xx.ravel(), yy.ravel()]
print(xxyy_combo)
Z = clf.decision_function(xxyy_combo)
Z = Z.reshape(xx.shape)

plt.title("IsolationForest")
plt.contourf(xx, yy, Z, cmap=plt.cm.Blues_r)

b1 = plt.scatter(X_train[:, 0], X_train[:, 1], c='white',
                 s=20, edgecolor='k')
b2 = plt.scatter(X_test[:, 0], X_test[:, 1], c='green',
                 s=20, edgecolor='k')
c = plt.scatter(X_outliers[:, 0], X_outliers[:, 1], c='red',
                s=20, edgecolor='k')
plt.axis('tight')
plt.xlim((-5, 5))
plt.ylim((-5, 5))
plt.legend([b1, b2, c],
           ["training observations",
            "new regular observations", "new abnormal observations"],
           loc="upper left")
plt.show()

In [41]:
((52*52)-52)/2

1326

In [42]:
station_df = pd.read_csv('stations.csv', encoding='latin-1')

In [43]:
station_df.head()

,Station #,Station Name,# of Racks,Latitude,Longitude
0,1000,Liberty Ave & Stanwix St,16,40.441326,-80.004679
1,1001,Forbes Ave & Market Square,19,40.440877,-80.003080
2,1002,Third Ave & Wood St,15,40.439030,-80.001860
3,1003,First Ave & Smithfield St (Art Institute),15,40.437200,-80.000375
4,1004,First Ave & B St (T Station),15,40.435887,-79.997102

In [44]:
rentals_df.groupby(['From station id','To station id']).size().reset_index().rename(columns={0:'count'})

      From station id  To station id  count
0                1000           1000    649
1                1000           1001     90
2                1000           1002     14
3                1000           1003     33
4                1000           1004      7
5                1000           1005      5
6                1000           1006     20
7                1000           1007     10
8                1000           1008      6
9                1000           1009     14
10               1000           1010     50
11               1000           1011      8
12               1000           1012     49
13               1000           1013     22
14               1000           1014     21
15               1000           1015     25
16               1000           1016     73
17               1000           1017     62
18               1000           1018     53
19               1000           1019     52
20               1000           1020      1
21               1000           1021      3
22               1000           1022      2
23               1000           1025      1
24               1000           1026     17
25               1000           1032      1
26               1000           1033      3
27               1000           1036      3
28               1000           1037      2
29               1000           1038      2
...               ...            ...    ...
1792             4028           4028      1
1793             4029           4054      1
1794             4046           4001      1
1795             4047           4055      1
1796             4055           4008      1
1797             4055           4038      1
1798             4055           4103      1
1799             4068           4047      1
1800             4068           4077      1
1801             4074           4046      1
1802             4076           4018      1
1803             4076           4055      2
1804             4076           4076      3
1805             4077           4005      1
1806             4084           4084     29
1807             4089           4068      1
1808             4094           4039      1
1809             4103           4055      1
1810             6666           1000      1
1811             6666           1004      1
1812             6666           1010      1
1813             6666           1011      1
1814             6666           1012      1
1815             6666           1013      1
1816             6666           1015      1
1817             6666           1020      1
1818             6666           1048      2
1819             6666           1049      1
1820            90092          90092      1
1821            99095          99095      3

[1822 rows x 3 columns]

In [45]:
rentals_df.drop_duplicates(subset=['From station id','To station id'])

,Trip id,Starttime,Stoptime,Bikeid,Tripduration,From station id,From station name,To station id,To station name,Usertype,Starttime_dt,Stoptime_dt
0,27193394,4/1/2017 0:59,4/1/2017 1:43,70024,2659,1012,North Shore Trail & Fort Duquesne Bridge,1045,S 27th St & Sidney St. (Southside Works),Customer,2017-04-01 00:59:00,2017-04-01 01:43:00
1,27193815,4/1/2017 1:43,4/1/2017 1:48,70353,284,1037,Frew St & Schenley Dr,1038,Boulevard of the Allies & Parkview Ave,Subscriber,2017-04-01 01:43:00,2017-04-01 01:48:00
2,27194749,4/1/2017 2:35,4/1/2017 3:01,70067,1576,1010,10th St & Penn Ave (David L. Lawrence Conventi...,1010,10th St & Penn Ave (David L. Lawrence Conventi...,Customer,2017-04-01 02:35:00,2017-04-01 03:01:00
3,27201194,4/1/2017 5:05,4/1/2017 7:46,70191,9695,1005,Forbes Ave & Grant St,1043,Coltart Ave & Forbes Ave,Customer,2017-04-01 05:05:00,2017-04-01 07:46:00
4,27203670,4/1/2017 5:35,4/1/2017 5:54,70353,1164,1038,Boulevard of the Allies & Parkview Ave,1047,S 22nd St & E Carson St,Subscriber,2017-04-01 05:35:00,2017-04-01 05:54:00
5,27225284,4/1/2017 8:42,4/1/2017 8:52,70075,595,1020,42nd & Penn Ave.,1026,Penn Ave & S Whitfield St,Subscriber,2017-04-01 08:42:00,2017-04-01 08:52:00
6,27226103,4/1/2017 8:49,4/1/2017 8:57,70175,484,1003,First Ave & Smithfield St (Art Institute),1016,17th St & Penn Ave,Subscriber,2017-04-01 08:49:00,2017-04-01 08:57:00
7,27230328,4/1/2017 9:21,4/1/2017 9:39,70198,1037,1002,Third Ave & Wood St,1049,S 12th St & E Carson St,Subscriber,2017-04-01 09:21:00,2017-04-01 09:39:00
8,27232566,4/1/2017 9:39,4/1/2017 9:48,70481,535,1027,Shady Ave & Ellsworth Ave,1034,Ellsworth Ave & N Neville St,Subscriber,2017-04-01 09:39:00,2017-04-01 09:48:00
10,27240406,4/1/2017 10:37,4/1/2017 12:42,70418,7500,1013,Isabella St & Federal St (PNC Park),1013,Isabella St & Federal St (PNC Park),Customer,2017-04-01 10:37:00,2017-04-01 12:42:00
11,27243591,4/1/2017 11:01,4/1/2017 11:27,70465,1586,1007,Stevenson St & Forbes Ave,1037,Frew St & Schenley Dr,Customer,2017-04-01 11:01:00,2017-04-01 11:27:00
13,27247726,4/1/2017 11:31,4/1/2017 12:02,70231,1868,1034,Ellsworth Ave & N Neville St,1045,S 27th St & Sidney St. (Southside Works),Customer,2017-04-01 11:31:00,2017-04-01 12:02:00
14,27249827,4/1/2017 11:47,4/1/2017 12:14,70240,1638,1012,North Shore Trail & Fort Duquesne Bridge,1012,North Shore Trail & Fort Duquesne Bridge,Customer,2017-04-01 11:47:00,2017-04-01 12:14:00
15,27250013,4/1/2017 11:48,4/1/2017 11:52,70468,238,1021,Taylor St & Liberty Ave,1019,42nd St & Butler St,Subscriber,2017-04-01 11:48:00,2017-04-01 11:52:00
16,27250274,4/1/2017 11:50,4/1/2017 11:56,70403,356,1038,Boulevard of the Allies & Parkview Ave,1041,Fifth Ave & S Bouquet St,Subscriber,2017-04-01 11:50:00,2017-04-01 11:56:00
18,27251724,4/1/2017 12:01,4/1/2017 12:19,70257,1085,1017,21st St & Penn Ave,1050,Healthy Ride Hub,Customer,2017-04-01 12:01:00,2017-04-01 12:19:00
19,27254536,4/1/2017 12:21,4/1/2017 12:26,70403,320,1041,Fifth Ave & S Bouquet St,1038,Boulevard of the Allies & Parkview Ave,Subscriber,2017-04-01 12:21:00,2017-04-01 12:26:00
21,27260620,4/1/2017 13:08,4/1/2017 13:37,70471,1703,1015,Federal St & E North Ave,1019,42nd St & Butler St,Customer,2017-04-01 13:08:00,2017-04-01 13:37:00
22,27261324,4/1/2017 13:14,4/1/2017 13:21,70131,402,1033,Ivy St & Walnut St,1027,Shady Ave & Ellsworth Ave,Customer,2017-04-01 13:14:00,2017-04-01 13:21:00
23,27264993,4/1/2017 13:47,4/1/2017 14:12,70413,1485,1039,Atwood St & Bates St,1045,S 27th St & Sidney St. (Southside Works),Customer,2017-04-01 13:47:00,2017-04-01 14:12:00
24,27266747,4/1/2017 14:04,4/1/2017 19:17,70191,18788,1043,Coltart Ave & Forbes Ave,1005,Forbes Ave & Grant St,Customer,2017-04-01 14:04:00,2017-04-01 19:17:00
25,27268929,4/1/2017 14:30,4/1/2017 14:41,70151,687,1046,S 25th St & E Carson St,1049,S 12th St & E Carson St,Customer,2017-04-01 14:30:00,2017-04-01 14:41:00
26,27271259,4/1/2017 15:00,4/1/2017 15:05,70485,319,1025,Penn Ave & N Fairmount St,1029,Alder St & S Highland Ave,Subscriber,2017-04-01 15:00:00,2017-04-01 15:05:00
27,27272571,4/1/2017 15:17,4/1/2017 15:34,70016,976,1026,Penn Ave & S Whitfield St,1020,42nd & Penn Ave.,Customer,2017-04-01 15:17:00,2017-04-01 15:34:00
28,27273085,4/1/2017 15:25,4/1/2017 15:38,70485,752,1029,Alder St & S Highland Ave,1020,42nd & Penn Ave.,Subscriber,2017-04-01 15:25:00,2017-04-01 15:38:00
29,27273333,4/1/2017 15:30,4/1/2017 16:24,70240,3218,1012,North Shore Trail & Fort Duquesne Bridge,1018,37th St & Butler St,Subscriber,2017-04-01 15:30:00,2017-04-01 16:24:00
31,27274449,4/1/2017 15:50,4/1/2017 16:09,70100,1124,1003,First Ave & Smithfield St (Art Institute),1047,S 22nd St & E Carson St,Subscriber,2017-04-01 15:50:00,2017-04-01 16:09:00
32,27275288,4/1/2017 16:06,4/1/2017 16:46,70262,2342,1014,Ridge Ave & Brighton Rd (CCAC),1014,Ridge Ave & Brighton Rd (CCAC),Customer,2017-04-01 16:06:00,2017-04-01 16:46:00
34,27276283,4/1/2017 16:27,4/1/2017 16:33,70452,364,1036,Schenley Dr at Schenley Plaza (Carnegie Librar...,1036,Schenley Dr at Schenley Plaza (Carnegie Librar...,Customer,2017-04-01 16:27:00,2017-04-01 16:33:00
35,27276341,4/1/2017 16:28,4/1/2017 16:57,70107,1730,1036,Schenley Dr at Schenley Plaza (Carnegie Librar...,1029,Alder St & S Highland Ave,Customer,2017-04-01 16:28:00,2017-04-01 16:57:00
...,...,...,...,...,...,...,...,...,...,...,...,...
22984,32986590,6/26/2017 14:17,6/26/2017 14:36,70011,1178,1026,Penn Ave & S Whitfield St,1038,Boulevard of the Allies & Parkview Ave,Customer,2017-06-26 14:17:00,2017-06-26 14:36:00
23113,33000864,6/26/2017 19:37,6/26/2017 19:57,70077,1172,1021,Taylor St & Liberty Ave,1061,33rd St and Penn Ave,Customer,2017-06-26 19:37:00,2017-06-26 19:57:00
23164,33007848,6/27/2017 1:53,6/27/2017 15:25,70178,48736,1012,North Shore Trail & Fort Duquesne Bridge,1027,Shady Ave & Ellsworth Ave,Customer,2017-06-27 01:53:00,2017-06-27 15:25:00
23197,33032416,6/27/2017 8:05,6/27/2017 8:19,70208,841,1040,O'Hara St and University Place (Soldiers and S...,1026,Penn Ave & S Whitfield St,Subscriber,2017-06-27 08:05:00,2017-06-27 08:19:00
23231,33039687,6/27/2017 9:27,6/27/2017 9:46,70441,1150,1051,Transit,1042,Centre Ave & Kirkpatrick St,Customer,2017-06-27 09:27:00,2017-06-27 09:46:00
23335,33087137,6/27/2017 16:44,6/27/2017 16:58,70409,863,1028,Penn Ave & Putnam St (Bakery Square),1025,Penn Ave & N Fairmount St,Subscriber,2017-06-27 16:44:00,2017-06-27 16:58:00
23452,33092422,6/27/2017 19:56,6/27/2017 20:19,70335,1363,1018,37th St & Butler St,1026,Penn Ave & S Whitfield St,Subscriber,2017-06-27 19:56:00,2017-06-27 20:19:00
23463,33092844,6/27/2017 21:11,6/27/2017 21:32,70170,1264,1036,Schenley Dr at Schenley Plaza (Carnegie Librar...,1025,Penn Ave & N Fairmount St,Customer,2017-06-27 21:11:00,2017-06-27 21:32:00
23528,33131628,6/28/2017 11:00,6/28/2017 11:36,70231,2177,1041,Fifth Ave & S Bouquet St,1016,17th St & Penn Ave,Customer,2017-06-28 11:00:00,2017-06-28 11:36:00
23576,33144868,6/28/2017 13:29,6/28/2017 16:20,70346,10253,1014,Ridge Ave & Brighton Rd (CCAC),1037,Frew St & Schenley Dr,Customer,2017-06-28 13:29:00,2017-06-28 16:20:00
23642,33152003,6/28/2017 16:05,6/28/2017 16:46,70192,2422,1000,Liberty Ave & Stanwix St,1020,42nd & Penn Ave.,Customer,2017-06-28 16:05:00,2017-06-28 16:46:00
23651,33152542,6/28/2017 16:20,6/28/2017 16:43,70393,1338,1043,Coltart Ave & Forbes Ave,1002,Third Ave & Wood St,Subscriber,2017-06-28 16:20:00,2017-06-28 16:43:00
23658,33153153,6/28/2017 16:41,6/28/2017 17:10,70351,1775,1009,12th St & Penn Ave,1048,S 18th St & Sidney St,Customer,2017-06-28 16:41:00,2017-06-28 17:10:00
23686,33154409,6/28/2017 17:25,6/28/2017 18:30,70269,3934,1003,First Ave & Smithfield St (Art Institute),1061,33rd St and Penn Ave,Customer,2017-06-28 17:25:00,2017-06-28 18:30:00
23705,33155195,6/28/2017 17:51,6/28/2017 18:18,70183,1627,1007,Stevenson St & Forbes Ave,1024,S Negley Ave & Baum Blvd,Subscriber,2017-06-28 17:51:00,2017-06-28 18:18:00
23711,33155307,6/28/2017 17:56,6/28/2017 18:20,70144,1440,1061,33rd St and Penn Ave,1023,Liberty Ave & Baum Blvd,Customer,2017-06-28 17:56:00,2017-06-28 18:20:00
23739,33156552,6/28/2017 18:53,6/28/2017 19:18,70450,1522,1030,S Euclid Ave & Centre Ave,1045,S 27th St & Sidney St. (Southside Works),Customer,2017-06-28 18:53:00,2017-06-28 19:18:00
23786,33157663,6/28/2017 20:25,6/28/2017 21:33,70290,4026,1061,33rd St and Penn Ave,1002,Third Ave & Wood St,Customer,2017-06-28 20:25:00,2017-06-28 21:33:00
23917,33207873,6/29/2017 12:15,6/29/2017 12:22,70262,397,1040,O'Hara St and University Place (Soldiers and S...,1044,Zulema St & Coltart Ave,Subscriber,2017-06-29 12:15:00,2017-06-29 12:22:00
24072,33228593,6/29/2017 20:13,6/29/2017 20:30,70262,1003,1044,Zulema St & Coltart Ave,1013,Isabella St & Federal St (PNC Park),Subscriber,2017-06-29 20:13:00,2017-06-29 20:30:00
24083,33228776,6/29/2017 20:32,6/29/2017 21:01,70238,1727,1045,S 27th St & Sidney St. (Southside Works),1038,Boulevard of the Allies & Parkview Ave,Customer,2017-06-29 20:32:00,2017-06-29 21:01:00
24101,33229321,6/29/2017 21:58,6/29/2017 22:03,70395,289,1027,Shady Ave & Ellsworth Ave,1032,Walnut St & College St,Subscriber,2017-06-29 21:58:00,2017-06-29 22:03:00
24115,33229779,6/29/2017 23:32,6/30/2017 1:04,70449,5543,1031,Maryland Ave & Ellsworth Ave,1041,Fifth Ave & S Bouquet St,Customer,2017-06-29 23:32:00,2017-06-30 01:04:00
24133,33253234,6/30/2017 8:21,6/30/2017 9:16,70367,3303,1001,Forbes Ave & Market Square,1037,Frew St & Schenley Dr,Customer,2017-06-30 08:21:00,2017-06-30 09:16:00
24204,33269085,6/30/2017 11:58,6/30/2017 17:02,70113,18225,1771,Highmark Stadium,1771,Highmark Stadium,Customer,2017-06-30 11:58:00,2017-06-30 17:02:00
24221,33271590,6/30/2017 12:31,6/30/2017 13:53,70343,4938,6666,Missing,1013,Isabella St & Federal St (PNC Park),Customer,2017-06-30 12:31:00,2017-06-30 13:53:00
24249,33277085,6/30/2017 13:57,6/30/2017 15:49,70363,6753,1041,Fifth Ave & S Bouquet St,1013,Isabella St & Federal St (PNC Park),Customer,2017-06-30 13:57:00,2017-06-30 15:49:00
24297,33286163,6/30/2017 16:36,6/30/2017 17:09,70178,1978,1037,Frew St & Schenley Dr,1020,42nd & Penn Ave.,Customer,2017-06-30 16:36:00,2017-06-30 17:09:00
24341,33291111,6/30/2017 18:55,6/30/2017 19:18,70113,1372,1005,Forbes Ave & Grant St,1014,Ridge Ave & Brighton Rd (CCAC),Subscriber,2017-06-30 18:55:00,2017-06-30 19:18:00
24356,33291895,6/30/2017 19:26,6/30/2017 20:38,70352,4330,1003,First Ave & Smithfield St (Art Institute),1037,Frew St & Schenley Dr,Customer,2017-06-30 19:26:00,2017-06-30 20:38:00