In [4]:
import googlemaps
import pandas as pd

In [7]:
stations_df = pd.read_csv('stations.csv', encoding='latin-1')
stations_df.columns = ['station_id', 'station_name', 'racks', 'latitude', 'longitude']
stations_df.head()

,station_id,station_name,racks,latitude,longitude
0,1000,Liberty Ave & Stanwix St,16,40.441326,-80.004679
1,1001,Forbes Ave & Market Square,19,40.440877,-80.003080
2,1002,Third Ave & Wood St,15,40.439030,-80.001860
3,1003,First Ave & Smithfield St (Art Institute),15,40.437200,-80.000375
4,1004,First Ave & B St (T Station),15,40.435887,-79.997102

In [6]:
my_key = "AIzaSyCbXUtVV-6DvGm9_mSLi4wl7V3oMfv-wGE"
gmaps = googlemaps.Client(key=my_key)

In [ ]:
start_lat = stations_df.latitude[0]
start_long = stations_df.longitude[0]
start_lat = stations_df.latitude[4]
start_long = stations_df.longitude[4]